alias emacs='emacsclient -c'
alias zshrc='emacs ~/.zshrc'
alias aliases='emacs ~/.aliases'
alias er='cd ..'
alias grep='grep --color=auto'
alias l='ls -CF --color=auto'
alias sros='source devel/setup.zsh'
alias sba='source bin/activate'
alias fsize='ls -sh'
alias virtualenv3='virtualenv -p python3'

meteo() {
  curl wttr.in/"$1"
}
